<div class="blog">
  <p id="notice"><%= notice %></p>
  <div class="post">

    <h2 class="title"><%= @post.title %></h2>


  <p class="body">
    <%= @post.body %>
  </p>
  <%if current_user.try(:admin?)%>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <%end%>

  <h2>Comments</h2>
    <%= render 'comments/form.html.erb'%>

    <%#= @post.comments.count %>
  <h3><%= pluralize(@post.comments.count, "Comment")%></h3>
  <hr>

  <%= render @post.comments%>
  </div>
</div>
